h1 A consensus scheme
h3 consensus : a general agreement about something that is shared by "all" the people in a group
h3 scheme : a large-scale systematic plan or arrangement for attaining some particular object or putting a particular idea into effect
